<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="autofacConfiguration" type="Revenj.Extensibility.Autofac.Configuration.SectionHandler, Revenj.Extensibility" />
  </configSections>
  <appSettings>
    <add key="PluginsPath" value="." />
    <add key="ServerAssembly" value="ServerModel.dll"/>
    <add key="ConnectionString" value="server=localhost;port=5432;database=FrameworkBench;user=revenj;password=revenj;Pooling=false" />
    <add key="HttpAddress_local8999" value="http://*:8999/" />
    <add key="CustomAuth" value="Revenj.Http.NoAuth"/>
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add relativeAddress="Bench.svc" service="Revenj.Bench.RestService, Revenj.Bench" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <autofacConfiguration>
    <modules>
      <module type="Revenj.Wcf.StandardModule, Revenj.Wcf" />
      <module type="Revenj.Bench.ContainerConfiguration, Revenj.Bench" />
    </modules>
    <components>
      <component type="Revenj.Http.NoAuth, Revenj.Http" service="Revenj.Security.IPermissionManager, Revenj.Security.Interface" />
    </components>
  </autofacConfiguration>
</configuration>
